.container {
	width: 1200px;
	margin: 0 auto;	
	border: 1px solid black;
	display: flex;
	flex-direction: row;
	padding-bottom: 20px;
}
nav {	
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
nav ul {
	padding: 0;
}
.container nav li {
	list-style: none;
	margin-bottom: 12px;
}
.container nav li a {
	text-decoration: none;
	font-size: 1.1rem;
}

li {
	margin-bottom: 12px;
	font-size: 1.1rem;
}

main {
	width: 75%;
}
.report {
	text-align: center;
}
p {
	font-size: 1.1rem;
}
.lab p {
	width: 90%;
}